<div class="footerWrapper">
  <div class="footerLinks">
    <a href="practice/company-profile.html" class="link">PROFILE</a>
    <a href="practice/managment" class="link">MANAGEMENT</a>
    <a href="practice/products.html" class="link">PRODUCTS</a>
    <a href="r-and-d" class="link">R & D</a>
    <a href="links" class="link">LINKS</a>
    <a href="sitemap" class="link">SITEMAP</a>
    <a href="contact-us.html" class="link">CONTACT</a>
  </div>
  <ul class="socialNetworkWrapper">
    <li>
      <a
        href="https://google.com"
        target="_blank"
        rel="noopener noreferrer"
        class="socialLink"
      >
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a
        href="https://google.com"
        target="_blank"
        rel="noopener noreferrer"
        class="socialLink"
      >
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li>
      <a
        href="https://google.com"
        target="_blank"
        rel="noopener noreferrer"
        class="socialLink"
      >
        <i class="fab fa-youtube"></i>
      </a>
    </li>
    <li>
      <a
        href="https://google.com"
        target="_blank"
        rel="noopener noreferrer"
        class="socialLink"
      >
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li>
      <a
        href="https://google.com"
        target="_blank"
        rel="noopener noreferrer"
        class="socialLink"
      >
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>
  </ul>
</div>
<div class="secondFooter">
  <h3>AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</h3>
</div>
