<div class="container">
  <div class="imgContainerHeader">
    <a href="index.html">
      <img src="assets/images/logo.png" alt="Logo" class="logo" />
    </a>
  </div>
  <div class="menuWrapper">
    <div class="inputWrapper">
      <input class="input" type="text" placeholder="Search" />
      <button class="btnLup">🔍</button>
    </div>
    <input type="checkbox" id="menuToggle" class="menuToggle" />
    <label for="menuToggle" class="burgerButton">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <nav class="menuContainer">
      <a href="index.html" class="menuLink">Home</a>
      <a href="company" class="menuLink">Company</a>
      <a href="company-profile.html" class="menuLink">Profile</a>
      <a href="products.html" class="menuLink">Products</a>
      <a href="services" class="menuLink">Services</a>
      <a href="r-and-d" class="menuLink">R & D</a>
      <a href="contact-us.html" class="menuLink">Contact</a>
    </nav>
  </div>
</div>
